@font-face{
  font-family: 'NouvelR';
  font-weight: 100;
  src: url("../public/fonts/NouvelRRegular.ttf");
}
@font-face{
  font-family: 'NouvelR';
  font-weight: 200;
  src: url("../public/fonts/NouvelRRegular.ttf");
}
@font-face{
  font-family: 'NouvelR';
  font-weight: 300;
  src: url("../public/fonts/NouvelRRegular.ttf");
}
@font-face{
  font-family: 'NouvelR';
  font-weight: 400;
  src: url("../public/fonts/NouvelRRegular.ttf");
}
@font-face{
  font-family: 'NouvelR';
  font-weight: 500;
  src: url("../public/fonts/NouvelRRegular.ttf");
}

@font-face{
  font-family: 'NouvelR';
  font-weight: 600;
  src: url("../public/fonts/NouvelRBold.ttf");
}
@font-face{
  font-family: 'NouvelR';
  font-weight: 700;
  src: url("../public/fonts/NouvelRRegular.ttf");
}
@font-face{
  font-family: 'NouvelR';
  font-weight: 800;
  src: url("../public/fonts/NouvelRBold.ttf");
}
@font-face{
  font-family: 'NouvelR';
  font-weight: 900;
  src: url("../public/fonts/NouvelRBold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'NouvelR' !important;
}

.designRobustez {
  /* height: 800px; */
}

@media (min-width: 1536px){
  .designRobustez {
    height: 950px;
  }
}

.banner-kwid {
  background-image: url(https://cdn.motor1.com/images/mgl/PWoVA/s1/2015-569821-renault-kwid1.jpg);
  background-position: 40% 0%;
  background-size: cover;
}

@media (min-width: 1024px) {
  .banner-kwid {
    background-image: url(https://cdn.motor1.com/images/mgl/PWoVA/s1/2015-569821-renault-kwid1.jpg);
    background-position: 10% 80%;
    background-size: 'cover';
  }
}

.model-animation {
  /* animation: shadows 3s ease-in, move 3s ease-in; */
  text-shadow: 4px 3px 0 #fff,
      7px 6px 0 #f0c036
  }


@keyframes shadows {
  0% {
    text-shadow: none;
  }
  50% {
    text-shadow: 4px 3px 0 #fff;
  }
  100% {
    text-shadow: 4px 3px 0 #fff,
      7px 6px 0 #f0c036;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(-24px, -24px);
  }
}
